
.skills ul{
    list-style-type: none;
}
.skills .skillsheader{
  text-align: center;
    margin-top: -20px;
    /* background-color: azure; */
}
.skills a{
    display:block;
    color:black;
    padding:2px;
    text-decoration:none;
}
.skills a:link {
    color: lightgreen;
    background-color: transparent;
    text-decoration: none;
  }
  
  .skills a:visited {
    color: darkgreen;
    background-color: transparent;
    text-decoration: none;
  }
.skills a.active{
    background-color:#04AA6D;
    color:white;
}
.skills a:hover:not(.active){
    background-color:#555;
    color:white;
}
@media screen and (max-width: 700px) {
    .skills {
      width: 100%;
      height: auto;
      position: relative;
    }
    .skills a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .skills a {
      text-align: center;
      float: none;
    }
  }
